.App {
  background-color: #f2f3f3;
}

.info_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.info_header {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.event1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.college_logo {
  object-fit: contain;
  width: 50px;
  margin-right: 10px;
}
.footer_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
  background-color: #fafafa;
  border: 2px solid lightgray;
}
h5 {
  font-weight: normal;
}
.fb {
  color: #3b5998;
}
.insta {
  color: #fb3958;
}
.whats {
  color: #075e54;
}
.youtube {
  color: #ff0000;
}
.linkedin {
  color: #0e76a8;
}
.icon:hover {
  opacity: 0.4;
}

h2 {
  font-family: "Fredoka One", cursive;
}
.mainEvent {
  padding-bottom: 60px;
}
